{% load static %}<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="{% static 'js/synthetic.js' %}"></script>
<script language="JavaScript">
function display(data){
	$('table').append($(
	    $.map(data.items, function(value,key){
        	return '<tr><td>'+value.city+'</td><td>' + value.temperature + '</td><td></td></tr>'
    	    }).join('')));
}

$(document).ready(function(){
    var synthetic = $.synthetic({'errorElementID': 'failure', 'rpc_url': '{% url 'synthetic:list' %}', 'onSuccess': function(data){
	display(data);
    }, 'onFailure': function(){
    }});
    synthetic.list();

    $('#add').on('click', function(){
	var city = $('input[name=city]').val();
	var temperature = $('input[name=temperature]').val();
	synthetic.create(city, temperature, function(data){
	    $('table').append('<tr><td>'+data.city+'</td><td>'+data.temperature+'</td><td></td></tr>');
	});
	return false;
    });
});
</script>
</head>
<body>

<div id="failure"></div>

<table id="list">
<tr>
<th>City</th>
<th>Temperature<th>
<th>Taken At</th>
</tr>
<tr>
<td><input type="text" name="city" /></td>
<td><input type="text" name="temperature" /></td>
<td>&nbsp;</td>
</tr>
</table>

<input type="submit" value="Add record" id="add" />

</body>
